*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 700px;
    background-color:#4A1012;
}

.about-container{
    max-width: 1200px;
    height: 100%;
    background-color: #65191B;
    display: flex;
    margin: 0 auto;
    justify-content: center; 
    align-items: center;
}

.about-text {
    width: 50%;
    height: 100%;
    background-color: #65191B;
    padding: 2.5rem;
}

.about-text h2 {
    color: #FEF2A6; /*sletter senere ong*/
    font-size: 48px;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.about-text p {
    color: #FEF2A6; /*sletter senere ong*/
    font-size: 20px;

}

.about-image{
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: aqua;
}

.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}

/* .events {
    width: 100%;
    height: 500px;
    background-color: #ff0000;
}

.events-container {
    max-width: 1200px;
    background-color: #65191B;
    display: flex;
    align-items: center;  
    justify-content: center;
    margin: 0 auto;
    gap: 15px;                 
}

.events-container h3 {
    color: #FEF2A6;
    font-size: 30px;        
}

.events-line {
    flex: 1;
    height: 1px;
}
 */
.delete {
    display: none;
}
